@page "/AddAdult"


@using HandIn1.Data
@using Microsoft.AspNetCore.Components
@using Models
@using System.Threading.Tasks.Dataflow
@using System.Threading
@inject IAdultAdapter IadultAdapter;
@inject NavigationManager NavigationManager;

<h3>AddAdult</h3>


<EditForm Model="@Adult" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
   
    
 
          
                          
              <div class="form-group"> First name <br/>
                  <InputText @bind-Value="Adult.FirstName"> </InputText>
              </div>
                          
              <div class="form-group"> Last name <br/>
                  <InputText @bind-Value="Adult.LastName"> </InputText>
              </div>
          
      
           
       
      
                          
                           <div class="form-group"> Hair color <br/>
                                  <InputText @bind-Value="Adult.HairColor"> </InputText>
                              </div>
                              
      <div class="form-group"> EyeColor <br/>
          <InputText @bind-Value="Adult.EyeColor"> </InputText>
      </div>
         
      
                              
                           <div class="form-group"> Age <br/>
                                  <InputNumber @bind-Value="Adult.Age"> </InputNumber>
                              </div>
                              
                           <div class="form-group"> Weight <br/>
                                  <InputNumber @bind-Value="Adult.Weight"> </InputNumber>
                              </div>
                              
                          <div class="form-group"> Height <br/>
                              <InputNumber @bind-Value="Adult.Height"> </InputNumber>
                          </div>
                          
                          <div class="form-group"> Sex <br/>
                              <InputText @bind-Value="Adult.Sex"> </InputText>
                          </div>
                          
                          <div class="form-group"> Job title <br/>
                              <InputText @bind-Value="job.JobTitle"> </InputText>
                          </div>
                          
                           <div class="form-group"> Job salary <br/>
                                  <InputNumber @bind-Value="job.Salary"> </InputNumber>
                              </div>
      
      
      
          <button type="submit">Submit</button>
</EditForm>



@code {
    Adult Adult = new Adult();
    Job job = new Job();
    
    
    
    
    

    public void HandleValidSubmit()
    {
       
        //Todo delete
        Console.WriteLine(job.Salary);
        Console.WriteLine(job.JobTitle);
        
        
        
        Adult.JobTitle = job;

     IadultAdapter.Add(Adult);
    NavigationManager.NavigateTo("AdultManager");

    }

}